* {
    box-sizing: border-box;
    margin: 10;
    padding: 0;
}

/* Body content */
body {
    background-color: white;
    color:#ea70a9;
    font-family: 'Lucida Handwriting', 'Copperplate', 'Papyrus';
    font-size: 20px;
    text-decoration: none;
}

/* Header content */
.header {
    padding: 20px;
    font-family: 'Lucida Handwriting', 'Copperplate', 'Papyrus';
    background-color:  white;
    color: #ea70a9;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header h1 {
    display: inline-block;
    font-size: 40px;
    color:#ea70a9;
    margin: 0;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Lucida Handwriting', 'Copperplate', 'Papyrus';
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header nav ul li a {
    display: inline-block;
    margin-left: 25px;
}

.section {
    padding: 10px;
}

/* First image content */
.hero {
    height: 400px;
    width: 100%;
    background-image: url("../images/pattern.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: relative
}

/* Subheading Content */
.hero h2 {
    font-size: 40px;
    font-weight: bolder;
    color:#ea70a9;
    margin-top: 300px;
}

/* Main body content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.about-me {
    margin-bottom: 40px;
    padding: 25px;
    height: 400px;
    font-family:'Lucida Handwriting', 'Copperplate', 'Papyrus';
    background-color: white;
    color:#ea70a9;
}

.work {
    margin-bottom: 40px;
    padding: 25px;
    height: 400px;
    font-family:'Lucida Handwriting', 'Copperplate', 'Papyrus';
    background-color: white;
    color:#ea70a9;
}

.contact-me {
    margin-bottom: 40px;
    padding: 25px;
    height: 400px;
    font-family:'Lucida Handwriting', 'Copperplate', 'Papyrus';
    background-color: white;
    color:#ea70a9;
}

/* Image Gallery Content */
.container {
    flex: 50;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 10vw);
    grid-gap: 10px;
    padding-bottom: 10px;
 }
  
 .gallery-item {
    position: relative;
 }
  
 .gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 1px #0f0101;
 }
  
 .gallery-item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    position: relative;
 }
  
 .gallery-item-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
 }
  
 .gallery-item-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    position: relative;
 }
  
 .gallery-item-4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    position: relative;
 }
  
 .gallery-item-5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    position: relative;
 }
 