* {
    box-sizing: border-box;
}

/* Body content */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(23, 25, 65);
    color: rgb(181, 181, 181);
    font-family: 'Lucida Handwriting', 'Copperplate', 'Papyrus';
    font-size: 20px;
    line-height: 1.5;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}

/* Header content */
header {
    padding: 15px 6% 15px 0;
    font-family: 'Lucida Handwriting', 'Copperplate', 'Papyrus';
    background-color:  rgb(23, 25, 65);
    color: rgb(181, 181, 181);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    display: inline-block;
    font-size: 40px;
    color: rgb(181, 181, 181);
    padding: 5px 1% 5px 6%;
    margin: 0;
    line-height: 1;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    font-family: 'Lucida Handwriting', 'Copperplate', 'Papyrus';
    font-size: 20px;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
}

nav a:hover {
    background-size: 100% 100%;
    color: rgb(116, 41, 116);
}

nav a:last-child {
    margin-right: 0;
}

main {
    margin-top: 20px;
    margin-bottom: 45px;
}

/* First image content */
.hero {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 30vh;
    color: rgb(181, 181, 181);
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.hero div {
    flex: 0 0 90%;
}

/* Subheading Content */
.hero h2 {
    font-size: 40px;
    font-weight: bolder;
    color: rgb(181, 181, 181);
    margin: 0;
    padding: 5px 10px;
    line-height: 1.2;
    display: inline;
}

/* Main body content */
.content {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid rgb(181, 181, 181);
    font-size: 4vw;
    line-height: 1.1;
}

.page-section > div {
    flex: 0 0 77%;
}

.page-section p {
    margin-bottom: 20px;
}

/* Image Gallery Content */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: rgb(181, 181, 181);
    max-width: 800px;
}

.flex-item {
    border: 5px solid rgb(181, 181, 181);
    color: rgb(181, 181, 181);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
 }
  
.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-item:hover {
  background-color: rgb(116, 41, 116);
}

.flex-item div {
  background-color: rgb(23, 25, 65);  
  padding: 5px 5px;
}

.flex-item h3 {
  font-size: 1.6rem;
}

.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact address a {
  color: rgb(181, 181, 181);
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
  display: inline-block;
}

.contact address a:hover {
  background-size: 100% 88%;
  color: rgb(116, 41, 116);
}

/* project images */
.placeholder-3 {
  background-image: url("../images/placeholders.jpg");
}

.horiseon-project {
  background-image: url("../images/horiseon.png");
}

.placeholder-2 {
  background-image: url("../images/placeholders.jpg");
}

.placeholder-1 {
  background-image: url("../images/placeholders.jpg");
}

.mood-mixer {
  background-image: url("../images/mood-mixer.gif");
}

/* Adaptability for different screen sizes */
@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }

  .page-section > h2,
  .page-section > div {
    flex: 0 0 100%;
  }

  .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid rgb(181, 181, 181);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }
}

@media screen and (max-width: 768px) {
  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  .flex-item:first-child {
    min-height: 150px;
  }

  .hero {
    justify-content: center;
    text-align: center;
  }

  .contact address {
    flex-direction: column;
    align-items: flex-start;
  }
}
